* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    position: fixed;
    width: 100%;
    padding: 2rem;
}

.logo {
    display: flex;
    align-items: center;
    color: var(--white-text);
    
}

.text-logo {
    font-weight: 700;
    font-size: 1.25rem;
    padding-left: 0.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    padding: 2rem;
    margin: auto;
    flex: 1;
}

.admin-header {
    width: 100%;
    margin-bottom: 1rem;
    color: var(--white-text);
}

.admin-header p {
    color: var(--gray-text) !important;
}

.admin-box{
    width: 100%;
    background-color: var(--box-color);
    padding: 2rem;
    border-radius: 1rem;
}

.input-group{
    margin-bottom: 1.25rem;
}

.input-group label {
    display: block;
    color: var(--gray-text);
    font-size: 0.75rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.input-group input {
    width: 100%;
    padding: 1rem;
    background-color: var(--input-bg);
    border: none;
    border-radius: 0.5rem;
    color: var(--white-text2);
    
}

.forgot-password {
    text-align: right;
    margin-bottom: 1.5rem;
}

.forgot-password a {
    text-decoration: none;
    color: var(--gray-text);
    font-weight: 500;
}

.btn-admin {
    width: 100%;
    padding: 1rem;
    background-color: var(--button-color);
    color: var(--white-text2);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.go-back {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    color: var(--white-text);
}

.go-back a {
    color: var(--white-text);
    text-decoration: none;
    font-weight: 600;
}