:root  {
    --bg-color: #10192E;
    --box-color: #1C2738;
    --button-color: #7844F0;
    --white-text: #ffffff;
    --white-text2: #f8f8ff;
    --gray-text: #9BA4B5;
    --input-bg: rgba(14, 22, 41, 0.5);
    --blue-link: #462FBC;
}